@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Site de Testes</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Aplicando técnicas de Asp.NET Core, Bootstrap, Font Awesome</a>.</p>
</div>
