@model AspNetCoreMVC.Models.Departamento

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Criar novo Departamento</h1>

<hr />
<div class="card-body">
    <div class="form-group">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div> @Html.DisplayNameFor(model => model.Nome)</div>
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping"><i class="fas fa-graduation-cap"></i></span>
                    </div>
                        <input asp-for="Nome" type="text" class="form-control" aria-label="Nome" aria-describedby="addon-wrapping">
                        <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary btn-sm" /> <a asp-action="Index" class="btn btn-success btn-sm">Voltar para Departamentos</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
